# personal
.ignore/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# logs
*.log

# sqlite3
db.sqlite3
db.sqlite3-journal

# environments
.env/
.venv/
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json